<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Events</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <link rel="stylesheet" href="https://workshop.vuebulgaria.com/assets/styles/style.css">
</head>

<body>
<div id="app">
  <div class="map" @click="currentHouse = null">
    <div
        v-for="(house, houseId) in houses"
        :key="houseId"
        :class="house.name.toLowerCase()"
        class="house"
        @click.stop="currentHouse = houseId"
    >
      <img :src="house.sigil">
      <div class="members" v-if="currentHouse === houseId">
        <div
            v-for="member in house.members"
            :key="member.id"
            class="member"
        >
          {{ member.name }}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://workshop.vuebulgaria.com/assets/scripts/houses.js"></script>
<script>
var app = new Vue({
  el: '#app',
  data: {
    houses: houses,
    currentHouse: null
  }
})
</script>
</body>
</html>
