.house {
  position: absolute
  width: 5vw
  height: 5vw
  transform-origin: bottom center
  img {
    cursor: pointer
    def-transit(transform)
  }
  &:empty {
    /* only when the house has no content */
    background: red
    border-radius: 100%
  }

  &:hover {
    > img {
      transform: scale(1.2);
    }
  }

  img {
    width: 100%
  }

  &.stark {
    top: 29.08%
    left: 43%
  }
  &.tully {
    top: 60%
    left: 37.2%
  }

  &.targaryen {
    top: 66%
    left: 81%
  }

  &.lannister {
    top: 67.4%
    left: 12.6%
  }

  &.tyrell {
    top: 81.4%
    left: 26%
  }

  &.baratheon {
    top: 77.4%
    left: 76.2%
  }

  &.martell {
    top: 92%
    left: 84.5%
  }

  &.greyjoy {
    top: 56.5%
    left: 11.4%
  }

  &.arryn {
    top: 52.9%
    left: 65%
  }
}

.members {
  background: hsl(0, 0, 100%)
  border-radius: 2px
  box-shadow: 0 2px 4px transparentify($black, .4)
  overflow: auto
  z-index: 5
  position: absolute
  left: 50%
  width: 250px
  max-height: 350px
  transform: translateX(-50%)

  &:empty {
    min-height: 50px
  }

  .martell & {
    top: auto
    bottom: 100%
  }

  .member {
    padding: .5rem 1rem
    line-height: 2
    cursor: pointer
    def-transit()

    &:hover {
      background: $lightGray;
    }
  }
}
