$black = #2b2b2b
$lightGray = #eee
def-transit(prop = all, time = .15s, ease = linear, delay = 0s)
  transition: prop time ease delay

@import "got-font.styl"

body,
html
  padding: 0
  margin: 0
  font-family "Game of Thrones"
  color: $black

body
  min-width: 500px

.map
  position: relative
  height: 0
  padding-bottom: 236.41%
  background: url("./map.jpg") top left / contain no-repeat

@import "./house.styl"
@import "./transitions.styl"
