body,
html
  padding: 0
  margin: 0

body
  min-width: 500px

.map
  position: relative
  height: 0
  padding-bottom: 236.41%
  background: url("./map.jpg") top left / contain no-repeat

@import "./house.styl"
