<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Components, Events and Props</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <link rel="stylesheet" href="https://workshop.vuebulgaria.com/assets/styles/style.css">
</head>

<body>
<div id="app">
  <div class="map" @click="currentHouse = null">
    <house
        v-for="(house, houseId) in houses"
        :key="houseId"
        :house="house"
        :house-id="houseId"
        :current-house="currentHouse"
        @house-change="toggleCurrent"
    ></house>
  </div>
</div>

<script type="text/x-template" id="house-template">
<div
    class="house"
    :class="[houseId, { 'is-active': isVisible }]"
    @click.stop="$emit('house-change', houseId)"
>
  <img :src="house.sigil">
  <members :members="house.members" v-if="isVisible"></members>
</div>
</script>

<script src="https://workshop.vuebulgaria.com/assets/scripts/houses.js"></script>
<script>
var Member = {
  props: ['member'],
  template: '<div class="member">{{ member.name }}</div>'
}

var Members = {
  components: {
    Member: Member
  },
  props: ['members'],
  template: `<div class="members">
                <member
                    v-for="member in members"
                    :key="member.id"
                    :member="member"
                />
             </div>`
}

var House = {
  template: '#house-template',
  components: {
    Members: Members
  },
  props: {
    house: Object,
    currentHouse: String,
    houseId: String
  },
  computed: {
    isVisible () {
      return this.currentHouse === this.houseId
    }
  }
}

var app = new Vue({
  el: '#app',
  components: {
    House: House
  },
  data: {
    houses: houses,
    currentHouse: null
  },
  methods: {
    toggleCurrent (house) {
      this.currentHouse = this.currentHouse === house ? null : house
    }
  }
})
</script>
</body>
</html>
