@font-face {
  font-family: 'Game of Thrones';
  src: url('../got-font/GameofThrones.eot');
  src: url('../got-font/GameofThrones.eot?#iefix') format('embedded-opentype'),
          url('../got-font/GameofThrones.woff') format('woff'),
          url('../got-font/GameofThrones.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
